
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #CFBFF7;*/
}






h1{
    color: rgb(21, 255, 0);
    text-align: center;
    font-size: 400%;
    filter: brightness(200%);
    margin-top: -10%;
    margin-left: -0%;
    margin-right: -98%;
    margin-bottom: 0%;
}

h2{
    color: rgb(21, 255, 0);
    text-align: center;
    font-size: 400%;
    filter: brightness(200%);
    margin-top: -10%;
    margin-left: -91%;
    margin-right: 0%;
    margin-bottom: 0%;
}

p{
    color: rgb(21, 255, 0);
    font-weight: bold;
    text-align: left;
    font-size: 250%;
    filter: brightness(250%);
    padding-left: 5%;
    margin-right: -95%;
    margin-bottom: 1%;
}

li{
    color: rgb(21, 255, 0);
    font-weight: bold;
    text-align: left;
    font-size: 200%;
    filter: brightness(250%);
    margin-top: 10%;
    margin-left: -91%;
    margin-right: 0%;
    margin-bottom: 10%;    
}


.first-page{
    margin-top: -5%;
    min-height: 80vh;
    background: url("./images/muzikas_pulcins_fons4.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-filter: brightness(0.9);
        filter: brightness(0.65);
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 48%;
}


.second-page{
    margin-top: 0%;
    min-height: 90vh;
    background: url("./images/muzikas_pulcins_fons2.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-filter: brightness(0.9);
        filter: brightness(0.65);
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 48%;
        padding-right: 3%;
}


.third-page{
    margin-top: -5%;
    min-height: 80vh;
    background: url("./images/muzikas_pulcins_fons3.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-filter: brightness(0.9);
        filter: brightness(0.65);
        padding-top: 10%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 48%;
}

.button {
    background-color: rgb(21, 255, 0);
    border: none;
    color:  black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 300%;
    margin: -500% 250%;
    cursor: pointer;
    font-weight: bold;
}



.button1 {
    border-radius: 12px;
}

.button1:hover {
    background-color:rgb(223, 168, 97);
    color: black;
}
